.weblayout{
  padding: 45px 0;
  text-align: center;
  margin: 5px 0;
}
.nav {
  background-color: green;
  height: 80px;
}
.menu {
  background: blue;
  width: 33.33%;
  height: 200px;
  float: left;
}
.con {
  background: rgb(87, 87, 224);
  width: 33.33%;
  height: 200px;
  float: left;

}

.sidebar {
  background: orange;
  width: 33.33%;
  height: 200px;
 float:left;

}
.footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background: rgb(239, 74, 74);
 
}
.head {
  text-align: center;
}
